h1 class="center-align" Välkomen till chattrum!

-if session[:user_id]
    a class="center-align waves-effect waves-light btn-large" href="/room" Börja Chatta 
                      
                        
