h5 Ny chatt 
form id="form" method="GET" class="col s12"
        input type="text" id="input" value="send a message" name="message"     
div id="msgs"
h5 Chatt historik
- messages.each do |a|
                p #{a[1]}: #{a[2]}